@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body #container {
    margin: auto;
    width: 400px;
    height: 800px;
    background-color: #e6dddd;
}

header #img-fundo {
    width: 400px;
    height: 360px;
}

#img-fundo {
    margin-bottom: -340px; 
}

#cx-busca {
    font-size: 16px;
    width: 320px;
    height: 50px;
    padding-left: 15px;
    margin-top: 35px;
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
}

#img-busca {
    width: 25px;
    height: 25px;
    margin-left: -50px;
    margin-bottom: -8px;
    filter: opacity(0.3);
}

#titulo {
    width: 190px;
    height: 80px;
    margin-left: 30px;
    margin-top: 130px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 36px;
}

#slide-flor {
    width: 140px;
    height: 140px;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 5px 5px 0 0;
}

#forest {
    color: rgb(63, 60, 60);
    text-transform: capitalize;
    width: 125px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-top: -6px;
    padding-left: 15px;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}

#icon-folha {
    width: 24px;
    height: 24px;
    filter: opacity(0.3);
    margin-left: 125px;
    margin-top: -35px;
    margin-bottom: 22px;
}

#slide-praia {
    width: 140px;
    height: 140px;
    margin-left: 180px;
    margin-bottom: 72px;
    margin-top: -200px;
    border-radius: 5px 5px 0 0;
}

#praias {
    color: rgb(63, 60, 60);
    text-transform: capitalize;
    width: 125px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
    font-family: 'Roboto', sans-serif;
    margin-left: 180px;
    margin-top: -77px;
    padding-left: 15px;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}

#icon-praia {
    width: 24px;
    height: 24px;
    filter: opacity(0.3);
    margin-left: 285px;
    margin-top: -70px;
    margin-bottom: 22px;
}

#slide-mont {
    width: 140px;
    height: 140px;
    margin-left: 340px;
    margin-bottom: 72px;
    margin-top: -200px;
    border-radius: 5px 5px 0 0;
}

#montanhas {
    color: rgb(63, 60, 60);
    text-transform: capitalize;
    width: 125px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 0 0 5px 5px;
    font-family: 'Roboto', sans-serif;
    margin-left: 340px;
    margin-top: -77px;
    padding-left: 15px;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}

#footer {
    width: 400px;
    height: 125px;
    background-color: #222222;

}